.scroll-container {
  /* height: 90vh; */
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow-y: hidden;
}
.scroll-container::-webkit-scrollbar{
  display: none;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 5em;
  /* Set a width large enough to accommodate your content */
}

.product-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
}
.product-card img{
  max-width: none;
}